<main role="main">
  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Smooth Day CheckList-{{today | date}}</h1>
      <p>Fill in your todos and check in every day!</p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button" routerLink="/checkin">Check In</a> <a class="btn btn-primary btn-lg" href="#" role="button" routerLink="/checkout">Check Out</a> <a class="btn btn-primary btn-lg" href="#" role="button" routerLink="/settings">Settings</a></p>       
      <p><a class="btn btn-primary btn-lg" href="#" role="button" routerLink="/dashb">Dashboard</a></p>
    </div>
  </div>
</main>
